/* CELULAR*/
@media (max-width: 500px){
    body{
display: block;
    }
    header>div#anuncio{
        display: none;
    }
    header>div#barra{
        display: block
    }
   header>div#barra>ul>li.text{
display: none;
   }  
   header>div#barra>ul>li.logo{
    margin-left: 20px;
    margin-right: 20px;
   }
   section#main>div#mitad2{
 display: none;
   }
   section#main>div#mitad1{
display: block;
}
section#menu{
    display: block;
}
#container-div>.dproduct{
    flex: 1 1 calc(250px - 20px);
}
}
