*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: whitesmoke;
    font-family: "Rubik", sans-serif;
    width: 100%;
    height: 100%;
}
header{
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    position:fixed;
    background-color: whitesmoke;
    z-index: 1000; /* Asegura que el header esté encima del resto del contenido */
}
header>div#anuncio{
    width: 100%;
    height: 40px;
    background-color: #CB6CE6;
    display: flex;
    justify-content: center;
    align-items: center;
}
header>div#anuncio>a{
color: whitesmoke;
text-decoration: none;
}
header>div#barra{
    width: 100%;
    height: 70px;
    display: flex;
justify-content: space-between;
align-items: center;
margin-right: 45px;
margin-top: 10px;
}
header>div#barra>ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header>div#barra>ul>li#foto{
    margin-left: 45px;
    list-style: none;
}

header>div#barra>ul>li#foto>img{
    height: 50px;
}
header>div#barra>ul>li.text{
    list-style: none;
    margin-left: calc(5.25%);
    margin-top: 28px;
    width: auto;
}
header>div#barra>ul>li.logo{
    list-style: none;
    margin-left: calc(5.25%);
    margin-top: 28px;
    width: auto;
}
header>div#barra>ul>li>a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight:350;
    transform: scale(1);
}
header>div#barra>ul>li>a:hover{
transition: 1ms ease-in all;
color: #CB6CE6;
}
section#main{
    margin-top: 143px;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
section#main>div#mitad1{
    display: flex;
    width: 50%;
    background-color: #CB6CE6;
    height: 100%;
    align-items: center;
    justify-content: center;
    overflow:hidden;
}
section#main>div#mitad1>img{
    width: 100%;
    height: 400px;
    transition: 500ms ease-in all;
}
section#main>div#mitad1>img:hover{
    transform: scale(1.1);
}
section#main>div#mitad2{
    width: 50%;
    height: 100%;
    background-color: #CB6CE6;
    display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
section#main>div#mitad2>h1{
    color: whitesmoke;
    margin-top: -10px;
    text-align: center;
    font-size: 3.5rem;
    width: 80%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
section#main>div#mitad2>h3{
    margin-top: 10px;
    color: whitesmoke;
    font-size: 1.5rem;
    font-weight: 500;
}
section#main>div#mitad2>div#buttons{
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 40px;
}
section#main>div#mitad2>div#buttons>button{
    transition: 500ms ease-in all;
    width: 20%;
    height: 100%;
    background-color: whitesmoke;
    border: none;
    font-weight: 400;
    margin-left: 20px;
    margin-right: 20px;
}
section#main>div#mitad2>div#buttons>button:hover{
    cursor:pointer;
color:whitesmoke;
background-color: #000000;
border-radius: 0;
}
section#menu{
    width: 100%;
    height: 1650px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section#menu>div.title{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section#menu>div.title>h3{
    color: #CB6CE6;
    font-size: 1.5rem;
}
section#menu>div.title>button#vermas{
width: 200px;
height: 60px;
background-color: whitesmoke;
font-size: 1.5rem;
color: #CB6CE6;
font-weight:bolder;
border: 1px solid #CB6CE6;
margin-top: 42.5px;
}
section#menu>div.title>button#vermas:hover{
    transition: 500ms ease-in all;
    color: whitesmoke;
    background-color: #CB6CE6;
}
section#menu>div#container-div{
    width: calc(100% - 95px);
    height: 395px;
    display: flex;
    justify-content: space-between;
align-items: center;
flex-wrap: wrap;
}
section#menu>div#container-div>div.dproduct{
    width: calc(25% - 45px);
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
       /*parte 1*/
       position: relative;
       display: inline-block;
}

section#menu>div#container-div>div.dproduct>div.containerimg{
    width: 100%;
    height: 250px;
    /*parte 2*/
    display: block;
}
section#menu>div#container-div>div.dproduct>div.containerimg>img{
    width: 100%;
    height: 250px;
}
section#menu>div#container-div>div.dproduct>div.containerimg>div.hover{
/*CONTENEDOR SOBREPUESTO*/
position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    background-color: rgba(223, 222, 222, 0.3); /* Color negro con 50% de opacidad */
    opacity: 0;
    transition: opacity 0.3s ease;
}
section#menu>div#container-div>div.dproduct>div.containerimg>div.hover:hover{
    cursor: pointer;
        opacity: 1;
}
section#menu>div#container-div>div.dproduct>h5{
    color: #CB6CE6;
    margin-top: 15px;
    font-size: 1.2rem;
}
section#menu>div#container-div>div.dproduct>h5>a{
text-decoration: none;
color: #CB6CE6;
transition: color 0.5s ease-in-out;
}
section#menu>div#container-div>div.dproduct>h5>a:hover{
cursor: pointer;
animation: colorChange 1s ease-in-out forwards; /* Aplica la animación al hacer hover */
}
@keyframes colorChange {
    0% {
        color: #CB6CE6; /* Color inicial */
    }
    50% {
        color: #f3a4cb; /* Color intermedio */
    }
    100% {
        color: #CB6CE6; /* Vuelve al color inicial */
    }
}
section#menu>div#container-div>div.dproduct>p{
    color: #000000;
    margin-top: 15px;
    font-size: 1.2rem;
}
section#menu>div#container-div2{
    width: calc(100% - 95px);
    height: 375px;
    display: flex;
    justify-content:space-between;
align-items: center;
flex-wrap: wrap;
}
section#menu>div#container-div2>div.dcatalogo{
    width: calc(25% - 45px);
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
section#menu>div#container-div2>div.dcatalogo>img{
    width: 100%;
    height: 250px;
    transition: transform 0.4s ease, filter 0.4s ease, opacity 0.4s ease;
    filter: brightness(90%); /* Nivel de brillo inicial */
}
section#menu>div#container-div2>div.dcatalogo>img:hover{
    transform: translateY(-10px); /* Desplazamiento hacia arriba */
  filter: brightness(100%); /* Aumenta el brillo */
  opacity: 0.9; /* Ligero cambio en la opacidad */
  cursor: pointer;
}
section#menu>div#container-div2>div.dcatalogo>div.purple{
width: 100%;
height: 110px;
margin-top: 15px;
background-color: #CB6CE6;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
section#menu>div#container-div2>div.dcatalogo>div.purple>h5{
font-size: 1.2rem;
color: whitesmoke;
}
section#menu>div#container-div2>div.dcatalogo>div.purple>button{
    margin-top: 10px;
    color: #CB6CE6;
    background-color: whitesmoke;
    border: none;
    width: 50%;
    height:30px;
    font-size: 1.2rem;
    transition: 1ms ease-in all;
}
section#menu>div#container-div2>div.dcatalogo>div.purple>button:hover i{
cursor:pointer;
transform: scale(1.1); /* El icono crece y rota ligeramente */
}
section#menu>div#container-div2>div.dcatalogo>div.purple>button:hover{
    cursor:pointer;
}
section#menu>div#re{
    width: calc(100% - 95px);
    height: 430px;
    display: flex;
    justify-content: space-between;
align-items: center;
margin-top: 20px;
flex-wrap: wrap;
}
section#menu>div#re>div.opinion{
    width: calc(25% - 45px);
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #CB6CE6;
}
section#menu>div#re>div.opinion>h5{ 
    color: whitesmoke;
    font-size: 1.2rem;
    margin-top: 20px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-weight: 400;
}
footer{
    width: 100%;
    height: 100px;
    background-color: #CB6CE6;
    display: flex;
justify-content: center;
}
footer>div#bajo{
    width: calc(100% - 95px);
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: whitesmoke;

}
footer>div#bajo>img{
width: 150px;
}
footer>div#bajo>div.contacto1{
    width: 70px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    color: whitesmoke;
}
footer>div#bajo>div.contacto1>i{
    font-size: 2rem;
    color: whitesmoke;
}
footer>div#bajo>div.contacto1>h5{
    font-weight: 400;
}

footer>div#bajo>div.line{
    width: 2px; /* Ancho de la línea */
    height: 50px; /* Altura de la línea */
    background-color: whitesmoke; /* Color de la línea */
    margin: 0 auto; /* Centrar horizontalmente */
    font-weight: bold;
}
footer>div#bajo>div.text1{
    width: 170px;
}
footer>div#bajo>div.text1>h5{
    font-weight: 400;
}
footer>div#bajo>div.text1>input{
    width: 100%;
    height: 20px;
    border: none;
    text-align: center;
}
footer>div#bajo>div.text1>button{
    margin-top: 10px;
    width: 100%;
    border: none;
    color: #CB6CE6;
    font-weight: bold;
}
